$black: #000;
$white: #fff;
$red-e50: #ef0a1e;
$red-f85: #f85e6c;
$blue-aeb: #aebecd;
$green-b2f: #b2ffbf;
$green-9ae: #9aeeb2;
$green-37a: #37ab4a;
$orange-ff9: #ff9110;
$brown-451: #451313;

$colors: $black, $red-e50, $red-f85, $green-b2f;
$bgColors: $orange-ff9 , $brown-451, $black;
$borderColors: $green-37a , $orange-ff9;